* {
    font-family: 'Roboto', sans-serif;
}

header {
  position: sticky;
  background-color: white;
  top: 0;  
  text-align: center;
}

body {
    height: 1975px;
}

.bookmark {
  scroll-margin-top: 15em;
}

.collapsible {
    background-color: #6B4EED;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #1AA7EC;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-family: 'Roboto', sans-serif;
  }