* {
    font-family: 'Maven Pro', sans-serif;
}

header {
    text-align: center;
}

header img {    
    height: 50%;
    width: 50%;
}

main {    
    text-align: center;
    width: 100%;
}

form input {
    height: 30px;
    width: 600px;
    font-size: 20px;
    text-align: center;
}

form button {
    height: 35px;
    width: 80px;
    padding-top: 5px;    
}

main img {
    height: 90px;
    width: auto;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

#restaurant {
    display: inline-flex;    
    height: 400px;
    width: 300px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;    
    justify-content: center;
}

#hotel {
    display: inline-flex;    
    height: 400px;
    width: 300px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    justify-content: center;    
}

#attraction {
    display: inline-flex;    
    height: 400px;
    width: 300px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    justify-content: center;
}

#weather {
    display: inline-flex;
    height: 200px;
    width: 1250px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    justify-content: center;
}

footer {
    text-align: center;
}

@-moz-document url-prefix() {
    #weather {
      width: 1345px;
    }
  }