* {
    font-family: 'Maven Pro', sans-serif;
    color: black
}

header {
    text-align: center;
}

header img {    
    height: 50%;
    width: 50%;
}

main {    
    text-align: center;
    width: 100%;
}

form input {
    height: 30px;
    width: 600px;
    font-size: 20px;
    text-align: center;
}

form button {
    height: 35px;
    width: 80px;
    padding-top: 5px;    
}

main img {
    height: 90px;
    width: auto;
}

.wrapper {
    display: flex;
    justify-content: space-around;
}

.cards {
    display: inline;    
    /* height: 600px;
    width: 300px; */
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;    
    justify-content: center;
}

#weather {
    display: inline-flex;
    height: 200px;
    width: 100vw;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    color: white;
    justify-content: center;
}

footer {
    text-align: center;
}

@-moz-document url-prefix() {
    #weather {
      width: 1345px;
    }
  }

#checkboxes
{
    text-align: center;
}

#checkboxes label
{
    margin-right: 40px;
}

#alert
{
    display: none;
}

#save_p{
    position: fixed;
    margin-top: 40px;
    top: 0;
    padding: 1px;
    border: 2px solid darkgray;
    background-color:#E5E5E5;
    opacity: 70%;
}

#save{
    position: fixed;
    margin-top: 40px;
    right: 15px;
    top: 0;
    padding: 1px;
    border: 2px solid darkgray;
    background-color:#E5E5E5;
    opacity: 70%;
}

.mini-card{
    width: 33vw;

}

@media only screen and (max-width: 650px){
    .wrapper{
        flex-wrap: wrap;
    }
    .cards{
        width: 100%;
        margin-top: 50px;
        border:0;
    }
    .mini-card{
        margin-left: auto;
        margin-right: auto;
        border: solid black;
        margin-top: 5px;
        
    }
} 